In [ ]:
#to install package

In [2]:
!pip install missingpy

Collecting missingpy
  Downloading https://files.pythonhosted.org/packages/b5/be/998d04d27054b58f0974b5f09f8457778a0a72d4355e0b7ae877b6cfb850/missingpy-0.2.0-py3-none-any.whl (49kB)
Installing collected packages: missingpy
Successfully installed missingpy-0.2.0

In [1]:
from missingpy import KNNImputer

In [3]:
import pandas as pd
data=pd.read_csv('Loan_data.csv')

In [4]:
data_num = data._get_numeric_data()       #to get nly numeric columns
data_num.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,NaN,360.0,1.0
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0

In [5]:
imputer = KNNImputer()
impute_data = imputer.fit_transform(data_num)  #apply data on KNN algorithm and transform the data(data without null values)
impute_data             #this is numpy array

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\validation.py:432: DeprecationWarning: 'warn_on_dtype' is deprecated in version 0.21 and will be removed in 0.23. Don't set `warn_on_dtype` to remove this warning.
  DeprecationWarning)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\utils\validation.py:432: DeprecationWarning: 'warn_on_dtype' is deprecated in version 0.21 and will be removed in 0.23. Don't set `warn_on_dtype` to remove this warning.
  DeprecationWarning)

array([[5.849e+03, 0.000e+00, 1.478e+02, 3.600e+02, 1.000e+00],
       [4.583e+03, 1.508e+03, 1.280e+02, 3.600e+02, 1.000e+00],
       [3.000e+03, 0.000e+00, 6.600e+01, 3.600e+02, 1.000e+00],
       ...,
       [8.072e+03, 2.400e+02, 2.530e+02, 3.600e+02, 1.000e+00],
       [7.583e+03, 0.000e+00, 1.870e+02, 3.600e+02, 1.000e+00],
       [4.583e+03, 0.000e+00, 1.330e+02, 3.600e+02, 0.000e+00]])

In [7]:
type(impute_data)

numpy.ndarray

In [9]:
impute_data=pd.DataFrame(impute_data)             # to convert to dataframe
type(impute_data)

pandas.core.frame.DataFrame

In [11]:
impute_data

          0       1      2      3    4
0    5849.0     0.0  147.8  360.0  1.0
1    4583.0  1508.0  128.0  360.0  1.0
2    3000.0     0.0   66.0  360.0  1.0
3    2583.0  2358.0  120.0  360.0  1.0
4    6000.0     0.0  141.0  360.0  1.0
..      ...     ...    ...    ...  ...
609  2900.0     0.0   71.0  360.0  1.0
610  4106.0     0.0   40.0  180.0  1.0
611  8072.0   240.0  253.0  360.0  1.0
612  7583.0     0.0  187.0  360.0  1.0
613  4583.0     0.0  133.0  360.0  0.0

[614 rows x 5 columns]

In [12]:
impute_data.isnull().sum()        #fit-tranform filled all missing values through KNN algo

0    0
1    0
2    0
3    0
4    0
dtype: int64